/*
===========================
       Main Settings
===========================
*/

body{
    font-family: arial,sans-serif;
    

}

/*
===========================
           Header
===========================
*/
div.haut
{
    display:flex;
    justify-content : flex-end;
    align-items: center;
    font-size: 0.8em;
}

div.gmail
{
    padding: 10px 10px 10px 10px;

}

div.images
{
    padding: 10px 10px 10px 10px;

}

div.application
{
    padding: 10px 10px 10px 10px;

}

div.connexion
{
    padding: 10px 10px 10px 10px;

}
/*
===========================
      Central section
===========================
*/

div.rechercher
{
    padding : 10px 10px 10px 10px;
}

div.chance
{
    padding : 10px 10px 10px 10px;
}



div.sectiongoogle
{
display: flex;
flex-direction: column;
align-items: center;
height: max-content;
margin-top: 7%;



}

div.bouton
{
display : flex;
   

}
div.recherche
{
    text-align: center;
    margin: 2% 0% 2% 0%;
}

#sitesearch
{
    border: solid 0.5px rgba(0,0,0,.1);
    padding: 1% 12% 1% 12%;
    font-weight: bold;
    border-radius: 50px;
    height: 40px;
    width: 570px;
    
}
#mic{
    text-align: right;
    vertical-align: middle;
    margin-left:-4.7%; 
}


div.logo
{
    margin-bottom: 50px
}

input[type=search]{
    
    border-radius:8px;
}
.btn
{
    background-color: #f2f2f2;
    color: black;
    border: 1px solid #f2f2f2;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    border-radius: 2px;
}

/*
===========================
         Footer
===========================
*/
div.footerall
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px; 
    width: 100%;
    border: -5% 0% -5% 0%;
    background-color:#f2f2f2;
    border-top:solid 0.5px rgba(0,0,0,0.4);
    


}

div.footer1
{
    margin-top: 0;
    margin-left: 2%;
    display: flex;
    flex-flow: wrap row ;
    justify-content: flex-start;
    
}
div.footer2
{
    display: grid;
    grid-template-columns: 125px 100px 100px 350px 1fr 200px 150px 100px 125px;
    border-top:solid 0.5px rgba(0,0,0,0.4);
}
#gmail, #images, #connexion, #menu, #conso, #confi, #cond, #param, #pub, #entreprise, #propos, #fonctionnement, #france
{
    height: 40px;
    min-width: 50px;
    text-align: center;
    line-height:40px;
    padding: 7px;
}

/*
===========================
           Link
===========================
*/

a {
	color: #404040;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

a:visited {
	text-decoration: none;
}